*
{
  margin: 0;
  padding: 0;

}

header{
  height: 100vh;
}

.nav-bar{
  background: #2d3f45;
  height: 7vw;
}

.menu{
  float: left;
  list-style: none;
  margin: 1vw;
  font-size: 2vw;
}

.menu li {
  display: inline-block;
  margin: 0.5vw 0.25vw;
}

.menu li  a{
  text-decoration: none;
  color: #ffffff;
  padding: 0.25vw 0.5vw;
  font-family:sans-serif;
  letter-spacing: 0.1vw;
  border: 0.05vw solid #fff;
}

.menu li a:hover{
  background: #2d3f45;
  transition: .4s;
  color: #000;
}

h1{
  color: black;
  font-weight: lighter;
  font-size: 4vw;
  text-align: center;
  margin-top: 6vw;
  margin-left: 6vw;
  margin-right: 6vw;
  line-height: 1.6;
}

.center {
  display: block;
  margin-left: 4vw;
  margin-right: auto;
  width: 25%;
}

.info-bar{
  background: #2d3f45;
  height: 5vw;
}

.info{
  float: left;
  list-style: none;
  margin: 1vw;
}

.info li {
  display: inline-block;
  margin: 0.5vw 0.25vw;
}

.info li  a{
  text-decoration: none;
  color: #ffffff;
  padding: 0.25vw 0.5vw;
  font-family:sans-serif;
  letter-spacing: 0.05vw;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  float: center;
}

h3{
  color: black;
  font-weight: lighter;
  line-height: 3.5;
  text-align: left;
  margin-left:2.5vw;
  margin-top: 2.5vw;
}

#icon {
  float: left;
  margin-bottom: 5vw;
  margin-left: 5vw;
  height:auto;
}

#icontext{
  float: right;
  margin-right: 5vw;
  text-align: left;
  font-size: 2.3vw;
  margin-top: 2vw;
}

#iconcontainer{
  width: 100% ;
  max-width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
}

h2{
  color: white;
  font-family: sans-serif;
  font-weight: auto;
  font-size:2vw;
}

table, th, td {
  border: 0.2vw solid black;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

@media only screen and (max-width: 800px) {
  img{
    width: 100%;
    }
  }
